## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [6]:
data = {'國家':np.random.randint(10,size=10) ,
        '人口':np.random.randint(10,size=10) }
data = pd.DataFrame(data=data)
data

   國家  人口
0   4   0
1   2   0
2   0   8
3   7   3
4   0   6
5   2   9
6   2   4
7   9   6
8   1   7
9   0   8

In [8]:
data.describe()

              國家         人口
count  10.000000  10.000000
mean    2.700000   5.100000
std     3.093003   3.247221
min     0.000000   0.000000
25%     0.250000   3.250000
50%     2.000000   6.000000
75%     3.500000   7.750000
max     9.000000   9.000000

In [66]:
df=data.describe()
data.max(axis=0)

國家    9
人口    9
dtype: int32